.SegmentPage {
  position: relative;
  background: #f7f7f7;
  box-shadow: 2px 2px 4px #ccc;
  margin: 50px auto 20px;

  &__used{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #ffe1df;
  }

  &__content{
    position: relative;
    z-index: 2;
  }

  &__shadow{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.01px;
    transform: translateY(-1px);
    color: rgba(0,0,0,0);
  }
  &__caret{
    position: absolute;
    width: 2px;
    background-color: black;
    content:'';
    top:-1px;
    bottom:-2px;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  }
}

@-webkit-keyframes blink {
  50% { background-color: rgb(34, 34, 34); }
  51% { background-color: rgba(34, 34, 34, 0); }
  100% { background-color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { background-color: rgb(34, 34, 34); }
  51% { background-color: rgba(34, 34, 34, 0); }
  100% { background-color: rgba(34, 34, 34, 0); }
}
